:root {
  /* Modo Light */
  --color-primary: #0077FF;
  --color-secondary: #FFD700;
  --color-accent-1: #00C853;
  --color-accent-2: #FF6D00;
  --color-background-light: #FFFFFF;
  --color-text-light: #333333;

  /* Modo Dark */
  --color-background-dark: #1E1E1E;
  --color-text-dark: #FFFFFF;
}

body {
  background-color: var(--color-background-light);
}